<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Excluir Produto</title>
</head>

<body>

    <h1>Excluir produto</h1>

    <p>
        Tem certeza que deseja excluir o produto
        <strong>{{ object.nome }}</strong>?
    </p>

    <form method="post">
        {% csrf_token %}

        <button type="submit">
            Sim, excluir
        </button>

        <a href="{% url 'produto_detalhe' object.pk %}">
            Cancelar
        </a>
    </form>

</body>
</html>