*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: repeating-linear-gradient(135deg, #fff1f4, #f9e1e7 );
    min-height: 100vh;

}
 /* Area principal */
.login-container {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
/* Cartão */

.login-card {
    width: 100%;
    max-width: 430px;
    background: white;
    padding: 45px;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgb(248 122 210 / 0.94);
}
/* Logo */

.logo {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ef61bc;
    margin-bottom: 30px;
}
.logo span {
    font-weight: normal;
}
/* Título */
h1 {
    text-align: center;
    font-family: Georgia, serif;
    color: #f197d6;
    font-size: 32px;
    margin-bottom: 8px;
}
/* Subtítulo */
.subtitulo {
    text-align: center;
    color: #dd4f6c;
    font-size: 14px;
    margin-bottom: 30px;
}
/* Campos */
.campo {
    margin-bottom: 20px;
}
.campo label {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    color: #ef31b9;
    font-weight: bold;
}
.campo input {
    width: 100%;
    padding: 14px;
    border: 1px solid #e2cdd2;
    border-radius: 8px;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
}
.campo input:focus {
    border-color: #b9687a;
    box-shadow: 0 0 0 3px rgb(237 89 122 / 0.89);
}
/* Opções */
.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-size: 13px;
    color: #75666a;
}
.opcoes label {
    display: flex;
    gap: 6px;
    align-items: center;
}
.opcoes a {
    color: #a45c6c;
    text-decoration: none;
}
.opcoes a:hover {
    text-decoration: underline;
}
/* Botão */
button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #a45c6c;
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #952540;
    transform: translateY(-1px);
}
/* Cadastro */
.cadastro {
    text-align: center;
    margin-top: 25px;
    color: #f64e74;
    font-size: 14px;
}
.cadastro a {
    color: #a45c6c;
    font-weight: bold;
    text-decoration: none;
}
.cadastro a:hover {
    text-decoration: underline;
}
/* Celular */
@media (max-width: 500px) {
    .login-card {
        padding: 30px 22px;
    }
    h1 {
        font-size: 28px;
    }
    .opcoes {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    }
}