<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mafe Beauty</title>

    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>

<body>

<header>
    <h1>Mafe Beauty</h1>
    <p>Seu catálogo online de maquiagem</p>
</header>


<nav>
    <a class="menu-btn" href="{% url 'home' %}">Início</a>
    <a class="menu-btn" href="{% url 'produto_lista' %}">Produtos</a>
    <a class="menu-btn" href="{% url 'promocoes' %}">Promoções</a>
    <a class="menu-btn" href="{% url 'contato' %}">Contato</a>
</nav>

<main>

    <section class="banner">
        <h2>Destaques da Semana</h2>
        <p>As melhores maquiagens com preços incríveis!</p>

        <a href="{% url 'produto_lista' %}" class="botao">Ver Produtos</a>
    </section>

    <section id="produtos">
        <h2>Nossos Produtos</h2>

        <div class="produtos">

    {% for produto in produtos %}

        <div class="produto">
            <h3>{{ produto.nome }}</h3>
            <p>{{ produto.descricao }}</p>
            <p>R$ {{ produto.preco }}</p>

            <a href="/produtos/" class="botao">Ver Produtos</a>
        </div>

    {% empty %}

        <p>Nenhum produto cadastrado.</p>

    {% endfor %}

</div>
    </section>

    <section>
        <h2>Sobre a Loja</h2>

        <p>
            Somos apaixonados por maquiagem e beleza e por isso oferecemos
            produtos de qualidade para realçar sua beleza e autoestima.
        </p>
    </section>

</main>

<footer>
    <p>&copy; 2026 - Mafe Beauty | Contato: contato@mafebeauty.com</p>
</footer>

</body>
</html>