<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Promoções | Mafe Beauty</title>


    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>

<body>

<header>
    <h1>Mafe Beauty</h1>
    <p>Promoções</p>
</header>

<nav>
    <a class="menu-btn" href="/">Início</a>
    <a class="menu-btn" href="/produtos/">Produtos</a>
    <a class="menu-btn" href="/promocoes/">Promoções</a>
    <a class="menu-btn" href="/contato/">Contato</a>
</nav>

<main>

    <section class="banner">
        <h2>Promoções</h2>
        <p>Confira nossas promoções e ofertas especiais.</p>
    </section>

</main>

<footer>
    <p>&copy; 2026 - Mafe Beauty | Contato: contato@mafebeauty.com</p>
</footer>

</body>
</html>